<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course.name %>
</p>

<%= link_to 'Edit', edit_course_lesson_path %> |
<%= link_to 'Back', course_lessons_path %>
